{% extends "base.html" %}
{% block title %}
<title>Kids Products</title>
{% endblock %} 

{% load cart %}

{% block content %}

<!-- Banner Section -->
<div class="banner-section banner text-center py-5" style="">
    <h1>Kids Products</h1>
    <p>Home / Kid</p>
</div>

<!-- Filter Toggle Button for Mobile -->
<div class="container d-lg-none mb-3">
    <button class="btn btn-primary w-100" id="toggleFilters">Show Filters</button>
</div>

<!-- Main Content Section -->
<div class="container shop-container">
    <div class="row">
        <!-- Sidebar: Filter Section -->
        <div class="col-lg-3 mb-4 filter-sidebar d-none d-lg-block">

           <div class="list-group list-group-flush">
            <input type="hidden" class="pagecategory"  value="3" >
                <h4 type="button"  class="list-group-item list-group-item-action filterheading">
                  
                    Price Filter
                
            </h4>
                <li class="list-group-item">
                    
                    <input  min='{{minmaxprice.price__min}}' max='{{minmaxprice.price__max}}' value='{{minmaxprice.price__min}}'  oninput='maxprice.value=this.value'  type="range" name="" id="rangeinput" >
                    <p>{{minmaxprice.price__min}}-{{minmaxprice.price__max}}</p>
                </li>
                <li class="list-group-item">
                   Max-Price: <input  min='{{minmaxprice.price__min}}' max='{{minmaxprice.price__max}}' onkeyup='rangeinput.value=this.value'  type="number" name="" id="maxprice" value='{{minmaxprice.price__max}}' >
                   <button id='pricefilterbtn' class='btn-sm btn-dark'>Filter</button>
                </li>

            </div>
            
          

          <!---- color filter --->
            <div class="list-group list-group-flush">
                <h4 type="button"  class="list-group-item list-group-item-action filterheading">
                    Color Filter
                </h4>
                {% for items in color %}
                <li class="list-group-item">
                    <input class='filter-checkbox' data-filter='color' type="checkbox" name="" id="" value='{{items.color__id}}'>&nbsp;
                    <button class='btn' style="background-color: {{items.color__color_code}};"></button>
                </li>
                {% endfor %}
            </div>

             <!----  size filter  -->
             <div class="list-group list-group-flush">
                <h4 type="button"  class="list-group-item list-group-item-action filterheading">
                    Size Filter
                </h4>    
                {% for items in size %}  
                <li class="list-group-item">
                    <input class='filter-checkbox' data-filter='size' type="checkbox" name="" id="" value='{{items.size__id}}'>&nbsp;
                    {{items.size__title}}
                </li>
                {% endfor %}
            </div>


        </div>

        <!-- Product Section -->
        <div class="col-lg-9" id="filteredproducts">
            <div class="row">
                {% for items in product %}
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                    <div class="card product-card h-100 shadow-sm rounded">
                        <a href="{% url 'productdetail' items.id %}" class="card-img-container">
                            <img src="{{items.imageURL}}" class="card-img-top" alt="{{items.name}}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate">{{items.name}}</h5>
                            <p class="card-text text-muted" >$ {{items.productattribute_set.first.price}}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                                <input type="hidden" class="productid-{{ items.id }}"  value="{{ items.id }}" >
                                <input type="hidden" class="productcolor-{{ items.id }}" value="{{items.productattribute_set.first.color.id}}">
                                <input type="hidden" class="producttitle-{{ items.id }}" value="{{items.name}}">
                                <input type="hidden" class="productprice-{{ items.id }}" value="{{items.productattribute_set.first.price}}">
                                <input type="hidden" class="productquantity-{{ items.id }}" value="1">
                                <input type="hidden" class="productsize-{{ items.id }}" value="{{items.productattribute_set.first.size}}">

                                
                                <button type="button" data-address='{{ items.id }}'  class="btn btn-light cart-btn btn-sm addtofirstcart">
                                    <i class="fas fa-shopping-cart"></i>
                                </button>
                                
                            <a type="button" href="{% url 'productdetail' items.id %}" class="btn btn-outline-dark buy-now-btn">
                                Buy Now
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Filter Sidebar for Mobile (Hidden by default) -->
<div class="filter-sidebar-mobile d-lg-none">
    <div class="close-sidebar">X</div>
    <div class="filter-content">

       



             

         <!----  color filter  -->

            <div class="list-group list-group-flush">
                <h4 type="button"  class="list-group-item list-group-item-action filterheading">
                    Color Filter
                </h4> 
                {% for items in color %}    
                <li class="list-group-item">
                    <input class='filter-checkbox' data-filter='color' type="checkbox" name="" id="" value='{{items.color__id}}'>&nbsp;
                    <button class='btn' style="background-color: {{items.color__color_code}};"></button>
                </li>
                {% endfor %}
            </div>



         <!----  size filter  -->
            <div class="list-group list-group-flush">
                <h4 type="button"  class="list-group-item list-group-item-action filterheading">
                    Size Filter
                </h4>
               
                {% for items in size %}
              
                <li class="list-group-item">
                    <input class='filter-checkbox' data-filter='size' type="checkbox" name="" id="" value='{{items.size__id}}'>&nbsp;
                    {{items.size__title}}
                </li>
                {% endfor %}

            </div>




    </div>
</div>


<script>
    //   for price filter wrong range alert 
    $('#maxprice').on('blur', function(){
      var min=$(this).attr('min');
      var max=$(this).attr('max');
      var value=$(this).val();
      console.log(min , max , value);
      if (value<parseInt(min)|| value > parseInt(max)){
          alert('value is must be '+ min+'-' + max)
          $(this).val(min);
          $(this).focus();
          $('#maxprice').val(min);
          return false;
          }
  
    })
  </script>
  <script>
      $(document).ready(function(){
          $('.ajaxloader').hide();
  
          $(".filter-checkbox , #pricefilterbtn ").on('click', function(){
              var _filterObj={};
              var minprice=$('#maxprice').attr('min');
              var maxprice=$('#maxprice').val();
              var pagecategory=$('.pagecategory').val();
              _filterObj.minprice=minprice;
              _filterObj.maxprice=maxprice;
              _filterObj.pagecategory=pagecategory;
  
              console.log(pagecategory);
  
              $(".filter-checkbox").each(function(index,ele){
               var _filterVal=$(this).val();
               var _filterkey=$(this).data('filter'); 
               _filterObj[_filterkey]= Array.from(document.querySelectorAll('input[data-filter='+_filterkey+']:checked')).map(function(el){
                     return el.value;
               });
              });
              $.ajax({
                  url: '{% url "filterproducts" %}', // Update the URL to your Django view URL for validation
                  data:_filterObj,
                  dataType:'json',
                  beforeSend:function(){
                      $('.ajaxloader').show();
                  },
                  success: function(response) {
                      $('.ajaxloader').hide();
                      $('#filteredproducts').html(response.data);
  
                     
                  }
                
              });
              console.log(_filterObj);
  
  
  
          });
              
  
      });
  </script>

{% endblock %}





