{% extends "base.html" %}

{% load cart %}

{% block title %}
<title>Cart Page</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Your Orders Detail</h2>
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="table table-bordered table-striped table-hover align-middle text-center">
                <thead class="table-dark ">
                    <tr>
                        <th>Serial</th>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Order Date</th>
                        <th>Total</th>
                        <th>Order Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cartitems in orderitems %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <img src="{{ cartitems.product.imageURL }}" class="img-fluid" style="width: 80px;" alt="{{ cartitems.product.name }}">
                        </td>
                        <td>{{ cartitems.product.name }}</td>
                        <td>${{ cartitems.product.price }}</td>
                        <td>{{ cartitems.quantity }}</td>
                        <td>{{ cartitems.date }}</td>
                        <td>${{ cartitems.quantity|order_product_total:cartitems.product.price }}</td>
                        <td>
                            {% if cartitems.status %}
                            <span class="badge bg-success">Completed</span>
                            {% else %}
                            <span class="badge bg-warning text-dark">Pending</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
